table tr td:nth-child(3), table tr th:nth-child(3),
table tr td:nth-child(6), table tr th:nth-child(6) {
    border-right: solid 2px black;
}
table tr:nth-child(3) td, table tr:nth-child(3) th,
table tr:nth-child(6) td, table tr:nth-child(6) th {
    border-bottom: solid 2px black;
}

table td.cell .pos-val {
    display: inline-block;
    width: 33%;
    font-size: 11px;
    height: 11px;
    color: gray;
    text-align: center;
    cursor: pointer;
}
